<html>
	<head>
		<meta charset="utf-8" />
		<title>info</title>
		<link rel="stylesheet" type="text/css" href="static/info.css" /> 
	</head>
	<body>
		
		<div id='a'>
			<div id="b">
				<img src="static/head.jpg" />
			</div>
			<form action="/cpu" method="post">
				<button type="submit" value="cpu" id='c'>CPU</botton>
			</form>
			<form action="/memory" method="post">
				<button type="submit" value="memory" id='d'>MEMORY</botton>
			</form>
			<form action="/swap" method="post">
				<button type="submit" value="swap" id='e'>SWAP</botton>
			</form>
			<form action="/disk" method="post">
				<button type="submit" value="disk" id='f'>DISK</botton>
			</form>
			<form action="/network" method="post">
				<button type="submit" value="network" id='g'>NETWORK</botton>
			</form>
			
		</div>
		<div id="cmd">
				<form action="/cmd" method="post">
					<legend>Please sign in:</legend>
					
					<p>please input cmd:<input name="cmd" ></p>
					
					<p><button type="submit">click</button></p>
				</form>
		</div>
		<div id='zabbix'>
		<form action="/zabbix" method="post">
				
			
				<textarea rows="5" name="action" cols="30"></textarea>

			<br />
				<textarea rows="5" name="params" cols="30"></textarea>

				<br />
				
				<button type="submit">submit</botton>
			
		</form>
	</div>

	
		
	</body>
</html>