<html>
	<head>
		<meta charset="utf-8" />
		<title>welcome</title>
		<link rel="stylesheet" type="text/css" href="static/first.css" /> 
	</head>
	<body>
		<div id="content">
			<h1> welcome</h1>
			<div class="nu">
			<form action="/login" method="post">
				<input name="username" type="text"  id='a' style="color: burlywood;" placeholder="username">
			<br />
				<input name="password" type="password"  id='b'  placeholder="password" style="color: burlywood;">
				
				<br />
				<button type="submit" value="login" id='c'>login</botton>
				
			</form>		

				<form action="/zhuce" method="post">
				<button type="submit"  value="sign" id='d'>sign</botton>
				</form>	
	
			</div>
		</div>
				
		
	</body>
</html>

