<html>
	<head>
		<meta charset="utf-8" />
		<title>sign</title>
		<link rel="stylesheet" type="text/css" href="static/first.css" /> 
		<script type="text/javascript">
		function display_alert()
		  {
		  alert("sign up success!!!")
		  }
</script>
	</head>
	<body>
		<div id="content">
			<h1> welcome</h1>
			<div class="nu">
			<form action="/" method="post">
				<input name="username" type="text"  id='a' style="color: burlywood;" placeholder="username">
			<br />
				<input name="password" type="password"  id='b'  placeholder="password" style="color: burlywood;">
				
				<br />
				<button type="submit" value="sign" id='c' onclick="display_alert()">sign up</botton>
				
				
			</form>		
			</div>
		</div>
	</body>
</html>
